/* Regular */
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

* {
    font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #F472B6;
  position: relative;   
  height: 650px;    
  display: flex;    
  align-items: center;      
  justify-content: center;  
  padding: 20px;
}

nav {
  position: fixed;       /* tempel di atas header */
  top: 30px;
}

nav ul {
  list-style: none;         /* hilangin bullet */
  display: flex;            /* jadi horizontal */
  gap: 60px;                /* jarak antar menu */
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #9E4775; /* abu gelap biar kontras */
}

h1 {
  margin: 0;
  color: white;
  font-size: 4rem;
  text-shadow: 5px 5px 0px #9E4775 ;
  text-align: center;
}

.content {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;     
    justify-content: center;
}
.content h2 {
    width: 100%;
    text-align: center;
    padding: 100px 50px 50px 50px;
    font-size: 3.5rem;
    color: #F472B6;
    text-shadow: 2px 2px 0px #9E4775;
}
.content article {
    border-radius: 20px;
    width: 350px;
    height: 350px;
    margin: 0px 20px 0px 20px;
    background-image: url('images/coba.png');
    background-size: cover;
    background-position: center;
    transition: box-shadow 0.2s ease-in-out, background-image 0.2s ease-in-out;
}
.content article:hover {
    box-shadow: 0 8px 25px #bd799e;
}
.content p, h3 {
    color: white;
    text-shadow: 1px 1px 0px black;
    padding: 10px 10px 10px 20px;
}
.content h3 {
    font-size: 1.5em;
}

#program {
    background-image: url('images/aboc.png');
} #program:hover {
    background-image: url('images/coba.png');
}
 


footer {
    background-color:#dbadc6;
    text-align:center;
    height: 100px;
}
footer p {
    margin-top: 100px;
    padding: 40px;
}


